body{
    background-color: rgb(150, 179, 212);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.navbar-nav{
    font-size: larger;
    display: flex;
    margin-left: 500px;
    
}
.navbar-brand{
    color: aliceblue;
    font-size: 20px;
    margin-top: 50px;

}
.nav-item{
    margin-left: 40px;
    margin-top: -20px;
    color: aliceblue;
    list-style-type:none;
   
}
.nav-link{
    color: aliceblue;
     text-decoration: none;
}
.navigasi{
    background-color: rgb(40, 64, 118);
    height: 50px;
    margin-top: -10px;
    padding: 10px;
}
.collapse{
    display: flex;
}
.button-tambah{
   
    color: rgb(67, 104, 137);
    text-decoration: none;
    
}